body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}

.background{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to top, #274046, #E6DADA);
}

#card-trigger{
    list-style: none;
    margin: 40px 20px;
    padding: 0;
    display: inline-block;
}
#card-trigger > li{
    display: inline;
}
#card-trigger > li a, #remover{
    padding: 10px 20px;
    text-transform: capitalize;
    border: 2px solid #000;
    border-radius: 7px;
    transition: .2s;
}
#card-trigger > li a:hover, #remover:hover{
    background-color: #0002;
}
#remover{
    margin: 20px;
}

#cards-holder{
    margin: 40px 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    max-width: 1280px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#cards-holder > .post{
    width: 100%;
    max-width: 400px;
    min-height: 500px;
    display: block;
    overflow: hidden;
    position: relative;
    color: #fff;
    border-radius: 15px;
    background: #000;
    margin: 10px;
}
#cards-holder > .post .card-background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}
#cards-holder > .post .content{
    z-index: 1;
    display: block;
    position: relative;
    top: calc(100% - 190px);
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-bottom: 120px;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .2s;
}
#cards-holder > .post:hover .content{
    top: 0;
    background-color: #0008;
}
#cards-holder > .post .content .post-title{
    margin: 0;
    line-height: 30px;
    font-size: 27px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#cards-holder > .post .content .post-body{
    font-size: 20px;
    margin: 50px 0;
    text-align: justify;
}
#cards-holder > .post .content .remove-button{
    display: block;
    background: #fff2;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid #fff;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: calc(100% - 100px);
    transform: translateX(-50%);
}




@media (max-width: 600px) {
    #card-trigger{
        padding: 10px 15px;
        display: block;
        position: relative;
        border: 2px solid #000;
        border-radius: 7px;
        margin: 20px;
    }
    #card-trigger.active{
        padding-bottom: 0;
    }
    #card-trigger:before{
        content: 'Posts';
        display: inline-block;
    }
    #card-trigger:after{
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        position: absolute;
        right: 20px;
        top: 13px;
        transform: rotateZ(-45deg);
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    #card-trigger.active:after{
        top: 15px;
        transform: rotateZ(135deg);
    }
    #card-trigger > li a{
        display: none;
    }
    #card-trigger.active > li a{
        display: block;
        margin: 5px 0px;
        padding: 10px 0;
        border: 0;
    }
    #remover{
        display: block;
    }
  }